/* Appointments */
.calendar {
    margin: 20px auto;
    width: 1000px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  /* Header */
  .clientsHead {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: bold;
    
    margin-top: 20px;
    margin-bottom: 20px;
  }
  
  .clientsHead h1 {
    font-size: 24px;
    color: #333;
  }
  
  .clientsHead a {
    font-size: 16px;
    color: #007bff;
    text-decoration: none;
  }
  
  .clientsHead a:hover {
    text-decoration: underline;
  }
  
  /* Event */
  .rbc-event {
    background-color: #007bff;
    color: white;
    border-radius: 3px;
    padding: 2px 5px;
    cursor: pointer;
  }
  
  .rbc-event:hover {
    background-color: #0056b3;
  }
  
  /* Event Tooltip */
  .rbc-overlay {
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    padding: 10px;
    border-radius: 5px;
    z-index: 1000;
  }
  
  /* Event Tooltip Arrow */
  .rbc-overlay::before {
    content: '';
    position: absolute;
    top: -10px;
    left: 50%;
    border: 5px solid transparent;
    border-bottom-color: rgba(0, 0, 0, 0.8);
    transform: translateX(-50%);
  }
  